:root{
--main-color:#2490e3;
--transparent-color:#004c86b9;
--secound-color:white;
--gray-color:gray;
--black-color:black;
--overlay-color:rgba(0, 0, 0, 0.448);
--main-transition:0.4s;
}
/* Start-Global-Rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family:'Gemunu Libre', sans-serif;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-heading{
  text-align: center;
}
.main-heading h2{
margin-bottom: 50px;
position: relative;
width: fit-content;
margin-left: auto;
margin-right: auto;
font-size: 50px;
}
.main-heading h2::before{
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: var(--black-color);
}
.main-heading h2::after{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid var(--secound-color);
  background-color: var(--black-color);
  bottom:-22px ;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading p{
  margin-bottom: 80px;
  width: 550px;
  max-width: 100%;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  color: var(--gray-color);
}
/* Start-Over-lay */
.landing::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
}
/* End-Over-lay */
/* END-Global-Rules */
/* Start-Header */
header{
position: absolute;
z-index: 2;
top: 0;
left: 0;
width: 100%;
}
header .container{
position: relative;
min-height: 80px;
}
header .container::after{
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  height: 2px;
  background-color: var(--secound-color);
  bottom: 0;
}
header .container .logo img{
width: 130px;
}
header .container nav{
  justify-content: flex-end;
}
header .container nav ul{
display: flex;
transition: var(--main-transition);
}
@media(max-width:768px){
  header .container nav ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width:100%;
    flex-direction: column;
    background-color: var(--black-color);
    z-index: 9;
    text-align: center;
  }
} 
@media(min-width:768px){
  header .container nav i{
    display: none;
  }
}
@media(max-width:767px){
  header .container nav i{
    position: relative;
  }
  header .container nav:hover ul{
    display: flex;
  }
}

header .container nav ul li a{
display: block;
position: relative;
padding: 30px 15px;
z-index: 3;
transition: border,color var(--main-transition);
}
header .container nav ul li a.active,
header .container nav ul li a:hover{
  color:var(--main-color) ;
  border-bottom: 2px solid var(--main-color);
}
header .container .search{
  justify-content: flex-end;
  border-left: 2px solid var(--secound-color);
  width: 30px;
  height: 20px;
}
/* End-Header */
/* Start-Landing-Section */
.landing{
  min-height: 100vh;
  background: url(../images/owl.jpg);
  background-size: cover;
  position: relative;
}
.landing i{
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 2;
}
@media(max-width:767px){
  .landing i{
    display: none;
  }
}
.landing i:nth-of-type(1){
left: 30px;
transition: var(--main-transition);
}
.landing i:nth-of-type(1):hover{
animation: to-left 0.8s both infinite;
}
@keyframes to-left{
  0%,100%{
    left: 30px;
  }
  50%{
    left: 20px;
  }
}
.landing i:nth-of-type(2){
right: 30px;
}
.landing i:nth-of-type(2):hover{
  animation: to-right 0.8s both infinite;
}
@keyframes to-right{
  0%,100%{
    right: 30px;
  }
  50%{
    right: 20px;
  }
}
.landing .landing-content{
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 300px;
  padding: 40px;
  background-color: var(--transparent-color);
}
@media(max-width:767px){
  .landing .landing-content{
    width: 100%;
  }
}
.landing .landing-content .content{
  max-width:500px;
}
@media(max-width:767px){
  .landing .landing-content .content{
    max-width: 100%;
  }
  .landing .landing-content .content h1{
    font-size: 25px;
  }
}
.landing .landing-content .content p{
line-height: 1.7;
}
@media(max-width:767px){
  .landing .landing-content .content p{
    line-height: 1.3;
  }
}
@media(max-width:280px){
  .landing .landing-content .content p{
    line-height: 1.2;
    font-size: 14px;
  }
}
.landing ul{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.landing ul li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--secound-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.landing ul li.active
,.landing ul li:hover{
  background-color: var(--main-color);
}
/* End-Landing-Section */
/* Start-services-section*/
.services .container .srv-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  gap: 40px;
}
@media(max-width:767px){
  .services .container .srv-content{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }
}
.services .container .srv-content .box{
  display: flex;
}
@media(max-width:767px){
  .services .container .srv-content .box{
    flex-direction: column;
    text-align: center;
  }
}
.services .container .srv-content .box i{
  height:60px;
  margin-right: 50px;
}
@media(max-width:767px){
  .services .container .srv-content .box i{
    margin: 0;
  }
}
.services .container .srv-content .box article h3{
  color: var(--main-color);
}
.services .container .srv-content .box article p{
  font-size: 18px;
  line-height: 2;
  color: var(--gray-color);
}
/* END-services-section*/
/* Start-our-design */
section.our-design{
  background-image: url(../images/fa.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  overflow: hidden;
  position: relative;
}
section.our-design::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
section.our-design .img{
  flex: 1;
  text-align: center;
  position: relative;
  bottom: 50px;
}
section.our-design .img img{
  position: absolute;
  width: 300px;
}
@media(max-width:767px){
  section.our-design .img img{
    display: none;
  }
}
section.our-design .design-content{
  width: 800px;
  max-width: 100%;
  height: 300px;
  padding: 30px;
  background-color: var(--transparent-color);
  position: relative;
}

section.our-design .design-content h3{
  color: var(--secound-color);
  letter-spacing: 2px;
  text-transform: capitalize;
}
section.our-design .design-content ul li{
font-size: 22px;
color: var(--secound-color);
letter-spacing: 3px;
text-transform: capitalize;
}
@media(max-width:767px){
  section.our-design .design-content ul li{
    font-size: 18px;
  }
}
section.our-design .design-content ul li i{
  margin-right: 15px;
  font-size: 18px;
  color: var(--secound-color);
}
/* End-our-design */
/* Start-Portfolio */
section.portfolio .container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
section.portfolio .container ul li{
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
section.portfolio .container ul li.active,
section.portfolio .container ul li:hover{
  background-color: var(--main-color);
}
section.portfolio .portfolio-content{
display: flex;
flex-wrap: wrap;
}
section.portfolio .portfolio-content .box{
position: relative;
overflow: hidden;
font-size: 0;
cursor: pointer;
}
section.portfolio  .portfolio-content .box img{
  max-width: 100%;
  transition: var(--main-transition);
}
section.portfolio  .portfolio-content .box img:hover{
  transform: scale(1.1) rotate(3deg);
}
@media(min-width:1200px){
  section.portfolio .portfolio-content .box{
  flex-basis: 25%;
  }
}
@media(max-width:1200px){
  section.portfolio .portfolio-content .box{
  flex-basis: 50%;
  }
}
@media(max-width:768px){
  section.portfolio .portfolio-content .box{
  flex-basis: 100%;
  }
}
section.portfolio .portfolio-content .box .caption{
  position: absolute;
  bottom: 100%;
  width: 100%;
  transition: var(--main-transition);
  background-color: var(--secound-color);
}
section.portfolio .portfolio-content .box:hover .caption{
  bottom: 0;
}
section.portfolio .portfolio-content .box .caption p{
  margin-bottom: 10px;
  font-size: 18px;
}
section.portfolio .portfolio-content .box .caption span{
  color: var(--main-color);
  font-size: 18px;
}
section.portfolio .portfolio-content> a{
width: fit-content;
display: block;
padding: 15px 20px;
background-color: var(--main-color);
margin: 30px auto;
font-weight: bold;
color: white;
letter-spacing: 1.5px;
transition: var(--main-transition);
}
section.portfolio .portfolio-content> a:hover{
  opacity: 0.8;
}
/* End-Portfolio */
/* Start-Video-Section */
section.video{
position: relative;
font-size: 0;
}
section.video::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

section.video video{
  width: 100%;
}
section.video .see-more{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transparent-color);
  color: white;
  font-size: initial;
  text-align: center;
}
section.video .see-more h3{
  margin: 30px 0;
  letter-spacing: 2px;
}
@media(max-width:767px){
  section.video .see-more h3{
    margin: 8px 0;
    font-size: 18px;
  }
  section.video .see-more p{
    font-size: 15px;
  }
}
section.video .see-more a{
  width: fit-content;
  display: block;
  padding: 10px 30px;
  color: white;
  margin: 15px auto;
  background-color: black;
}
@media(max-width:767px){
  section.video .see-more a{
    padding: 5px 15px;
  }
}
/* End-Video-Section */
/* Start-About-us */
section.about-us{
overflow: hidden;
}
section.about-us .container .img{
position: relative;
text-align: center;
}
section.about-us .container .img img{
max-width: 100%;
bottom: -150px;
position: relative;
}
@media(max-width:767px){
  section.about-us .container .img img{
    display: none;
  }
}
/* End-About-us */
/* Start-Stats-Section */
section.stats{
  background: url(../images/stats.png);
  position: relative;
}
section.stats::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: var(--overlay-color);
  height: 100%;
  width: 100%;
}
section.stats .container .stats-content{
  position: relative;
  display: flex;
}
@media(max-width:991px){
  section.stats .container .stats-content{
    flex-direction: column;
}
}
section.stats .container .stats-content .box{
  background-color: var(--transparent-color);
  text-align: center;
  flex-basis: 25%;
}
section.stats .container .stats-content .box:hover{

}
@media(max-width:991px){
  section.stats .container .stats-content .box{
    flex-basis: 50%;
  }
}
@media(max-width:767px){
  section.stats .container .stats-content .box{
    flex-basis: 100%;
  }
}
section.stats .container .stats-content .box .icon{
  width: 45px;
  height: 45px;
  background: var(--black-color);
  color: var(--secound-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
section.stats .container .stats-content .box span{
  margin: 15px 0;
  display: block;
  font-weight: bold;
  color: var(--secound-color);
}
section.stats .container .stats-content .box p{
  color: var(--secound-color);
  letter-spacing: 2px;
}
/* END-Stats-Section */
/* Start-testimonial-section */
section.testimonial .container {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
gap: 80px;
}
@media(max-width:767px){
  section.testimonial .container{
    grid-template-columns: minmax(250px,1fr);
  }
}
section.testimonial .container .box > h3 {
  letter-spacing: 1.5px;
  text-align: center;
}
section.testimonial .container .box > p {
text-align: center;
color: var(--gray-color);
line-height: 1.5;
}
section.testimonial .container .box .team {
display: flex;
align-items: center;
}
@media(max-width:767px){
  section.testimonial .container .box .team {
    flex-direction: column;
    text-align: center;
  }
}
section.testimonial .container .box .team .img img{
width: 90px;
height: 90px;
border-radius: 50%;
}
@media(max-width:767px){
  section.testimonial .container .box .team .img{
    padding:0 0 20px;
  }
}
section.testimonial .container .box .team .desc{
  border-bottom: 1px solid var(--gray-color);
}
section.testimonial .container .box .team p{
  line-height: 1.5;
}
section.testimonial .container .box .team span{
display: block;
text-align: right;
color: var(--gray-color);
}
section.testimonial .container .box .skill .progress{
height: 40px;
background-color:var(--gray-color);
position: relative;
border-radius: 6px;
}
section.testimonial .container .box .skill .progress> span{
position: absolute;
height: 100%;
left: 0;
top: 0;
background-color: var(--main-color);
border-radius: 6px;
}
section.testimonial .container .box .skill .progress> span > span{
position: absolute;
right: -20px;
top: -40px;
background-color: var(--black-color);
color: white;
border-radius: 6px;
padding: 5px 8px;
}
section.testimonial .container .box .skill .progress> span > span::after{
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 8px 10px 10px 10px;
  border-color: var(--black-color)  transparent transparent transparent;
  left: 30%;
  top: 100%;
}

/* End-testimonial-section */
